body{
    background-color: #63C1DB;
}

.page-title{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 100;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.firstLetter{
    background-color: white;
    color: #63C1DB;
    padding-left: 10px;
    padding-right: 10px;
}

.mynavul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: #1b6d85;
}
.mynavul li{
    float: left;
}
.mynavul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}